if SHIELD_SPLIT_TRES_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "SplitTres"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLIT_TRES_RIGHT

config ZMK_SPLIT_ROLE_PERIPHERAL
    bool
    default y

# Right half needs to know it's the peripheral
config ZMK_KEYBOARD_NAME
    default "SplitTres R"

endif

if SHIELD_SPLIT_TRES_LEFT || SHIELD_SPLIT_TRES_RIGHT

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE
    default y

endif
